info:
  app:
    version: 1.0.0

management:
  endpoints:
    web:
      exposure:
        include: '*' #['configprops', 'env', 'health', 'info', 'jhimetrics', 'logfile', 'loggers', 'prometheus', 'threaddump']
  endpoint:
    health:
      show-details: when-authorized
    metrics:
      enabled: true
  info:
    git:
      mode: full
  health:
    mail:
      enabled: false # When using the MailService, configure an SMTP server and set this to true
  metrics:
    export:
      # Prometheus is the default metrics backend
      prometheus:
        enabled: true
        step: 60
    enable:
      http: true
      jvm: true
      logback: true
      process: true
      system: true
    distribution:
      percentiles-histogram:
        all: true
      percentiles:
        all: 0, 0.5, 0.75, 0.95, 0.99, 1.0
    tags:
      application: ${spring.application.name}
    web:
      server:
        request:
          autotime:
            enabled: true

server:
  error:
    include-stacktrace: on-param
  port: 1000
  servlet:
     context-path: /

spring:
  application:
    name: contact-ms
  jmx:
    enabled: false
  data:
    jpa:
      repositories:
        bootstrap-mode: deferred
    web:
      pageable:
        page-parameter: page
        size-parameter: size
  datasource:
    url: jdbc:postgresql://localhost:5432/gescom?gssEncMode=disable
    username: postgres
    password: nori
    hikari:
      poolName: Hikari
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 300000
      connection-timeout: 60000
#      auto-commit: false
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
  jpa:
    hibernate:
      ddl-auto: update
     # naming:
     #   physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
     #   implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
    open-in-view: true
    properties:
      hibernate:
        jdbc.time_zone: UTC
        id.new_generator_mappings: true
       # connection.provider_disables_autocommit: true
       # cache.use_second_level_cache: true
       # cache.use_query_cache: false
        generate_statistics: false
      # modify batch size as necessary
#        jdbc.batch_size: 25
        order_inserts: true
        order_updates: true
        query.fail_on_pagination_over_collection_fetch: true
        query.in_clause_parameter_padding: true
#        temp:
#          use_jdbc_metadata_defaults: false
    show-sql: false
  main:
    allow-bean-definition-overriding: true
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size: 215MB
springdoc:
  swagger-ui:
      path: swagger-ui.html