<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<logger name="org.hibernate.SQL" level="DEBUG" />
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />

    <!-- <logger name="com.ids" level="TRACE"/> -->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>